/*--
    Common Css
--*/

body {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #2c2c2c;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin: 0px;
}
h1 {
    font-size: 44px;
    line-height: 56px;
    color: #fff;
}
h2 {
  font-size: 30px;
  line-height: 35px;
}
h3 {
    font-size: 23px;
    line-height: 25px;
}
h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
p {
    line-height: 25px;
    margin: 15px 0;
}
/* ul {
    padding: 0;
    margin: 0;
    list-style: none;
} */

a {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

a:focus,
.btn:focus,
.btn:active:focus {
    box-shadow: none;
    outline: 0 none;
}
a,
a:active,
a:focus,
a:active {
    text-decoration: none;
}

.section {
    padding: 25px 0;
}
/*--
    custom heading
--*/

.heading {
    text-align: center;
    padding-bottom: 70px;
}
.heading h2 {
    padding-bottom: 30px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
}

.sub-heading {
    margin-bottom: 30px;
}

.sub-heading h3 {
    font-size: 30px;
    line-height: 40px;
}

.sub-heading h3 small {
    font-weight: 300;
}

.sub-heading h4 {
    font-size: 25px;
    margin-bottom: 15px;
}

.btn {    
    border-radius: 0;
}

.btn-home {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0px;
  color: #fff;
  font-size: 18px;
  padding: 10px 40px;
  margin-top: 0px;
}

.btn-home:hover,
.btn-home:focus {
    background-color: #fff;
    color: #555;
}

.btn-border {
    border: 1px solid #fff;
    padding: 13px 40px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: none;
}


/* Sweep To Right */
.hover-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hover-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hover-right:hover,
.hover-right:focus,
.hover-right:active {
    color: white;
}
.hover-right:hover:before,
.hover-right:focus:before,
.hover-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/*Preloader*/

#preloader {
    background-color: #fff;
    bottom: auto;
    height: 100%;
    left: auto;
    position: fixed;
    right: auto;
    top: auto;
    width: 100%;
    z-index: 9999;
}

.book {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  margin: 0 auto;
  border: 5px solid #ecf0f1;
  width: 100px;
  height: 60px;
}

.book__page {
  position: absolute;
  left: 50%;
  top: -5px;
  margin: 0 auto;
  border-top: 5px solid #ecf0f1;
  border-bottom: 5px solid #ecf0f1;
  border-right: 5px solid #ecf0f1;
  background: #41aba0;
  width: 50px;
  height: 60px;
  -webkit-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: flip 1.2s infinite linear;
          animation: flip 1.2s infinite linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.book__page:nth-child(1) {
  z-index: -1;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.book__page:nth-child(2) {
  z-index: -2;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}
.book__page:nth-child(3) {
  z-index: -3;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotateY(0deg);
            transform: perspective(600px) rotateY(0deg);
  }
  20% {
    background: #41aba0;
  }
  29.9% {
    background: #41aba0;
  }
  30% {
    -webkit-transform: perspective(200px) rotateY(-90deg);
            transform: perspective(200px) rotateY(-90deg);
    background: #41aba0;
  }
  54.999% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  60% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
            transform: perspective(200px) rotateY(-180deg);
    background: #41aba0;
  }
  100% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
            transform: perspective(200px) rotateY(-180deg);
    background: #41aba0;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotateY(0deg);
            transform: perspective(600px) rotateY(0deg);
  }
  20% {
    background: #41aba0;
  }
  29.9% {
    background: #41aba0;
  }
  30% {
    -webkit-transform: perspective(200px) rotateY(-90deg);
            transform: perspective(200px) rotateY(-90deg);
    background: #41aba0;
  }
  54.999% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  60% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
            transform: perspective(200px) rotateY(-180deg);
    background: #41aba0;
  }
  100% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
            transform: perspective(200px) rotateY(-180deg);
    background: #41aba0;
  }
}



/*--
    #hero-area start
--*/

#hero-area {
  padding:180px 0;
  background: rgba(0, 0, 0, 0) linear-gradient(135deg, #4ec684 0%, #417fab 100%) repeat scroll 0 0;
}
#hero-area:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/header-overlay.png);
    opacity: 0.9;
}
#hero-area .block {
  padding-top: 100px;
}
#hero-area .block h1 {
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 4px;
  position: relative;
}
#hero-area .block h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  background: #fff;
  height: 3px;
  width: 110px;

}

#hero-area .btn-home {
    margin-top: 30px;
}


.navbar-default {
    padding:20px;
}



/* #hero-area  */
.logo-2 {
    display: block!important;
}
.logo-1 {
    display: none!important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #009ee5;
}
.navbar-default {
    font-size: 14px;
    border: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
       -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
         -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
}

.navbar-default {
    background-color: #fff;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.15);
    padding:10px;
}

.navbar-default .navbar-brand {
    color: #777;
    padding: 5px 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    position: relative;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
    color: #000;
}

.navbar-default .navbar-nav > li.current > a {
    color: #fff;
}

.navbar-default .navbar-nav > li.current > a {
    color: #41a26d;
}

#hero-area .block p {
    color: #fff;
    font-size: 18px; 
    font-weight: 300;
    line-height: 30px;
}

/*--
    sponsor start
--*/

.sponsor {
    text-align: left;
}
.sponsor .caption {
    text-align: center;
}
.sponsor .caption h3 {
    margin: 0 0 10px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
}

.sponsor .logo-box {
    display: block;
    position: relative;
    text-align: center;
    width: 200px;
    height: 200px;
    margin:0 auto 15px;
}

.sponsor .logo-box a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.sponsor .logo-box img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 200px;
}

#organizers .sponsor .logo-box {
    height: 250px;
    width: 250px;
}

/*--
    About start
--*/

#about h3 {
  font-size: 26px !important;
  font-weight: 300;
  line-height: 36px;
  margin-top: 20px;
}

/*--
    subscribe start
--*/

#subscribe {
    padding: 70px 0px;
    background: rgba(0, 0, 0, 0) linear-gradient(160deg, #4ec684 0%, #417fab 100%) repeat scroll 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top: 1px solid #eee;
    color: #fff;
}

#subscribe .block h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

#subscribe .block input {
    width: 40%;
    height: 45px;
    border: 0;
    border-radius: 0;
    display: inline-block;
    box-shadow: none;
    vertical-align: middle;
    margin: 0 10px;
}

#subscribe a {
    color: #fff;
    text-decoration: underline
}

#subscribe a:hover {
    text-decoration: none
}

#contact {

}
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0 24px 0;
    width: 100%;
}
.address {

}
.address p {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 22px;
  color: #666;
}
#contact .form-group {
    /* background-color: #f4f4f4;
    margin: 0 auto;
    padding: 80px 100px 55px;
    width: 650px;
    box-shadow: 0 4px 40px  rgba(0, 0, 0, 0.2); */
}
.input-field .form-control {
    height: 38px;
    margin: 0 auto;
    border-radius: 0px;
    border: 1px solid #DEDEDE;
    box-shadow: none;
    background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}
.btn-send {
    line-height: 48px;
    border: 2px solid #47b475;
    background: #47b475;
    color: #fff;
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0;
    margin-top: 10px;
}

.input-field label {
    color: rgba(237, 28, 36, 0.7);
} 
.form-group .input-field + .input-field {
    margin-top: 20px;
}
.input-field textarea.form-control {
    height: 160px;
    margin: 0 auto;
    box-shadow: none;
}
.form-group {
    margin-top: 20px;
}
.form-group .btn-submit {
    border: 0 none;
    border-radius: 0;
    color: #fff;
    padding:10px 20px;
    font-size: 15px;
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#8ec64e), color-stop(100%,#41aba0));
}
#contact .block .btn span {
    padding-left: 23px;

}
#success,
#error {
    display: none;
}
footer {
    text-align: center;
    background: #272727;
    padding: 27px 0px;
}
footer p {
    font-weight: 300;
    font-size: 12px;
    color: #dfdfdf;
    letter-spacing: 1px;
}
footer p a {
  color: #fff;
}
footer p a:hover {
  color: #fff;
}

#faq li {
    margin-bottom: 20px
}

#speakers .info {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    height: 100px;
}

#speakers .photo {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 50%;
    overflow:hidden;
    text-align: center;
}

#speakers .photo img {
    width: 100px;
}

#schedule .day {
    text-align: center;
    font-weight: bold
}

.expandable {
    position: relative;
    overflow: hidden;
    height: 200px
}

.expandable .expand {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%) repeat scroll 0 0;
    width: 100%;
    height: 50px;
    cursor: pointer;
    text-align: right;
}

.expandable.expanded .expand {
    background: none;
}

.expandable .expand:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.1) 25%,rgba(255,255,255,0) 100%) repeat scroll 0 0;
}

.expandable .expand .caret {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 0;
}

.expandable.expanded .caret {
    border-bottom: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 0;
}
